.footer{    
    background-color: #35383f; 
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    text-align: center;
    font-family: 'Lato', sans-serif;    
}

.footer > .bottom-footer{
    border: 1px solid white;
    padding: 10px;  
}

.footer > .bottom-footer a{
    text-decoration: none;
    color: white;
}

.footer > .bottom-footer a span{
    font-size: 1.3rem;
}

