.header{
    height: 78px;
    background-color:#010101;
    color: white;
    font-family: 'Roboto slab', sans-serif;     
}

.header > .navigation-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0px;
    grid-gap: 20px;   
    font-family: 'Lato', sans-serif; 
}

.header > .navigation-wrapper > .left-column{
    display: flex;    
    align-items: start;
    justify-content: left;
    padding: 0px;
    grid-gap: 20px;       
}

.header > .navigation-wrapper > .left-column > .logo img{
    width: 150px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 10px 10px 0px 10px;
}

.header > .navigation-wrapper > .left-column > .link-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: left;          
}

.header > .navigation-wrapper > .left-column > .link-wrapper p{
    margin-bottom: 2px;
    color: yellow;
    font-weight: 800;
}

.header > .navigation-wrapper > .left-column > .link-wrapper > .nav-links{
    display: flex;
    MARGIN-RIGHT: 50PX;
    GRID-GAP: 15PX;
}

.header > .navigation-wrapper > .left-column > .link-wrapper > .nav-links a{
    text-decoration: none;   
    color: white;    
    font-size: 1.3em;    
}

.header > .navigation-wrapper > .left-column > .link-wrapper > .nav-links  > .dropdown{
    display: flex;    
    justify-content: center;
    align-items: center;    
}

.header > .navigation-wrapper > .left-column > .link-wrapper > .nav-links  > .dropdown p{
    color: white;
    margin: 0px;
    margin-left: 30px;    
}

.header > .navigation-wrapper > .left-column > .link-wrapper > .nav-links  > .dropdown > .icon{
    margin-left: 10px;
    color: rgba(189, 185, 185, 0.986);     
}

.header > .navigation-wrapper > .right-column {
    display: flex; 
    justify-content: right;
    align-items: center;     
    font-weight: 900;   
    grid-gap: 20px;
    margin-top: 10px;
}

.header > .navigation-wrapper > .right-column > .dropdown-create {
    display: flex;
    align-items: center;
    background-color: hsla(227, 12%, 30%, 0.959);;    
    border-radius: 2px;    
    padding: 0px 25px; 
}

.header > .navigation-wrapper > .right-column > .dropdown-create > .icon {
    margin-left: 10px;
    color: rgb(0, 255, 234)  
}

.header > .navigation-wrapper > .right-column > .icon i {
    font-size: 2em;
    color: rgba(158, 156, 156, 0.596);
}

.header > .navigation-wrapper > .right-column > .create-login {
    background-color: hsla(227, 12%, 30%, 0.959);
    border-radius: 2px;
    padding: 15px 25px;     
}

.header > .navigation-wrapper > .right-column > .create-login a {
    text-decoration: none; 
    color: white;
}